/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
	margin: 0;
}

* {
	box-sizing: border-box;
	animation-duration: 0.1s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}

a {
	color: #3273dc;
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}

pre {
	padding: 1rem;
}

pre>code {
	all: unset;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

:root {
	--theme-code-bg: hsl(238, 100%, 5%);
	/* --theme-glow-highlight: #3273dc; */
	/* --theme-glow-diffuse: #3273dc; */
	--theme-code-tabs: hsl(238, 100%, 15%);
	--theme-code-text: hsl(0, 0%, 100%);
	--padding-block: 1rem;
	/* --theme-accent: #3273dc; */
	--theme-code-mark-bg: hsl(225, 50%, 30%);
	--theme-code-mark-border: hsl(225, 100%, 50%);
	--theme-code-mark-text: hsl(225, 100%, 80%);
	--theme-code-ins-bg: hsl(128, 50%, 30%);
	--theme-code-ins-border: hsl(128, 100%, 50%);
	--theme-code-ins-text: hsl(128, 100%, 80%);
	--theme-code-del-bg: hsl(0, 50%, 30%);
	--theme-code-del-border: hsl(0, 100%, 50%);
	--theme-code-del-text: hsl(0, 100%, 80%);
	--inline-marker-bg-color: hsl(0, 100%, 80%);
	--theme-code-selection-bg: hsl(0, 100%, 80%);
}